<main>
  <div class="footer-head">
    <div class="head-content">
      <h1 class="logo">MOVECAR</h1>
      <p>Nossa visão é oferecer conveniência e ajudar a aumentar as vendas do seu negócio.</p>
    </div>

    <div class="head-nav">
      <h2>Início</h2>
      <h2>Veículos</h2>
      <h2>Contato</h2>
    </div>
  </div>

  <div class="wrapper"></div>

  <div class="footer-bottom">
    <p>©2022 MOVECAR. All rights reserved</p>

    <div>
      <p>Privacy & Policy</p>
      <p>Terms & Condition</p>
    </div>
  </div>
</main>
