<main>
  <app-navbar [isLoggedIn]="isLoggedIn" [username]="username"></app-navbar>

  <section class="main-section">
    <div class="text-content">
      <h1>Encontre o carro ideal para sua viagem! A liberdade que você merece, no carro que você escolhe.</h1>
      <p>Descubra nossa ampla seleção de veículos de alta qualidade para alugar com conforto, segurança.</p>
      <button>Reservar Agora</button>
    </div>

    <div class="img-container">
      <img src="/assets/images/main_car.png" alt="">
    </div>
  </section>

  <section class="category-section">
    <h1>Nossas marcas de luxo</h1>

    <div>
      <img src="/assets/images/marcas.png" alt="">
    </div>
  </section>

  <section class="info-section">
    <div>
      <img src="/assets/images/info_car.png" alt="">
    </div>

    <div>
      <h1>Oferecemos a melhor experiência com nossas ofertas de aluguel.</h1>

      <div class="card-container">
        <div class="card-content">
          <div class="card-box">
            <img src="/assets/images/icone1.png" alt="">
          </div>

          <div class="card-text">
            <h2>Garantimos o melhor preço</h2>
            <p>Encontrou um preço mais baixo? Nós reembolsamos 100% da diferença.</p>
          </div>
        </div>

        <div class="card-content">
          <div class="card-box">
            <img src="/assets/images/icone2.png" alt="">
          </div>

          <div class="card-text">
            <h2>Motorista experiente</h2>
            <p>Não tem motorista? Não se preocupe, temos muitos motoristas experientes para você</p>
          </div>
        </div>

        <div class="card-content">
          <div class="card-box">
            <img src="/assets/images/icone3.png" alt="">
          </div>

          <div class="card-text">
            <h2>24 horas</h2>
            <p>Reserve seu carro a qualquer momento e nós o entregaremos diretamente para você.</p>
          </div>
        </div>

        <div class="card-content">
          <div class="card-box">
            <img src="/assets/images/icone4.png" alt="">
          </div>

          <div class="card-text">
            <h2>Suporte técnico 24/7</h2>
            <p>Tem alguma dúvida? Entre em contato com o suporte da MoveCar a qualquer momento que precisar.</p>
          </div>
        </div>

      </div>
    </div>
  </section>

  <app-footer></app-footer>
</main>
